// BRANDING
$main-color: #37465c
$text-color: #fefdff

// DARK THEME

// LEFTBAR
$bar-color: #363644
$hover-color: #ff8e9a
$inactive-color: rgba(255, 255, 255, 0.6)

// PANEL
$panel-color: #282f39
$elements-color: rgba(50, 79, 123, 0.25)
$searchbar-color: rgba(50, 79, 123, 0.25)
$searchbarText-color: #8c8d96
$dev-color: #f5427b

// LIGHT THEME 

$light-bar-color: #e2e1e8
$light-panel-color: #edebf8
$light-inactive-color: #999eaf
$light-elements-color: #DDDBE7
